<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Add Task</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Add New Task</h2>
        <form id="add-task-form">
            <div class="form-group">
                <label for="name">Task Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter task name" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="9" placeholder="Enter task description"></textarea>
            </div>
            <div class="form-group">
                <label for="priority">Priority</label>
                <select class="form-control" id="priority" required>
                    <option value="">Select priority</option>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select>
            </div>
            <div class="form-group">
                <label for="estimatedTime">Estimated Time</label>
                <input type="time" class="form-control" id="estimatedTime" required>
            </div>

            <div class="form-group">
                <label for="dueDate">Due Date</label>
                <input type="datetime-local" class="form-control" id="dueDate" required>
            </div>

            <button type="button" class="btn btn-primary" id="btn-add-task">Add Task</button>
        </form>
    </div>
</body>
</html>

@section scripts {
    <script src="~/js/Tasks/addTask.js?v=@DateTime.Now.Ticks"></script>
}